body {
    background-image: url('../assets/mc4.jpg') ;
    background-size: cover;
    opacity: 0.9;
    height: 100%;
    background-repeat: no-repeat;
    color: red;
    text-align: center;
}

h2 {
    color:black;
}

#cite {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    border: 1px solid white;
}